legacy-peer-deps=true
@sys:registry=https://dev-npm-registry.platform.creatingly.com
//dev-npm-registry.platform.creatingly.com/:_authToken="qAJJoT196z+f3NRwJwXUAmJoHtgskpYnZgFMS7gqVH+2W33GlMuaqlpYrGQYpmKgxEsYZpYhYeYYDJ8Eijbk4Q=="